# Data Types in Python

## Integers

Python 3 an integer can be any size. Also size of an integer (as well as float, strings, etc. ) can vary based on the variable. Another important point is the HW (size of the system memory).

In [38]:
import sys
a=3; b=(2**60)-1;c=2**60;d=2**600
sys.getsizeof(a),sys.getsizeof(b),sys.getsizeof(c),sys.getsizeof(d)

(28, 32, 36, 108)

In [39]:
a=3.; b=float((2**60)-1);c=float(2**60);d=float(2**600)
sys.getsizeof(a),sys.getsizeof(b),sys.getsizeof(c),sys.getsizeof(d)

(24, 24, 24, 24)

Default display of a number id decimal. A number will be assigned as decimal if there is no prefix. The following strings can be prepended to an integer value to indicate a base other than 10:

|Base | Interpretation|Prefix|
|-----|---------------|------|
|2|Binary| 0b or 0B  |
|8|Octal| 0o or 0O  |
|16|HexaDecimal| 0x or 0X  |

In [40]:
print(f'Number 20 is base 10 -----> {1000} and type is {type(1000)}' )
print(f'Number 20 is base 2 -----> {0b1000} and type is {type(0b1000)}')
print(f'Number 20 is base 8 -----> {0o1000} and type is {type(0o1000)}')
print(f'Number 20 is base 16 -----> {0x1000} and type is {type(0x1000)}')

Number 20 is base 10 -----> 1000 and type is <class 'int'>
Number 20 is base 2 -----> 8 and type is <class 'int'>
Number 20 is base 8 -----> 512 and type is <class 'int'>
Number 20 is base 16 -----> 4096 and type is <class 'int'>

Python is object oriented language and integers are also objects and have attributes/methods. 
* bit_length
* conjugate
* denominator
* from_bytes
* imag
* numerator
* real
* to_bytes

In [47]:
a=1
a.conjugate() #

1

In [48]:
a.bit_length() # number of bits requires to represent integer

1

## Floating-Point Numbers

If there is number floating point number that is defined as float in Python. If a number has decimal point (could be integer)that number assigned as floating-point number. Also, using characters e or E followed by a positive or negative integer may be appended to specify scientific notation:

In [63]:
print(f'{4.} ---> type is {type(4.)}' )
print(f'{4.123} ---> type is {type(4.123)}' )
print(f'{4/2} ---> type is {type(4/2)}' )
print(f'{4e3,4E3} ---> type is {type(4/2)}' )

4.0 ---> type is <class 'float'>
4.123 ---> type is <class 'float'>
2.0 ---> type is <class 'float'>
(4000.0, 4000.0) ---> type is <class 'float'>

Python (almost all platforms) uses double-precision, 64-bit floating point numbers (IEEE 754 standard). In that case, the maximum value a floating-point number can have is approximately $\mathrm{1.8\times 10^{308}}$. Python will indicate a number greater than that by the string inf. 

The closest a nonzero number can be to zero is approximately $\mathrm{5\times 10^{-324}}$. Anything closer to zero than that is effectively zero:

![FloatingPoint](pic/001.png)

[More info .... ](https://en.wikipedia.org/wiki/Double-precision_floating-point_format)

In [64]:
print(1.79e308) # largest floating point number
print(1.8e308) # infinite
print(5e-324) # smallest floating point number
print(1e-324) # zero

1.79e+308
inf
5e-324
0.0

## Complex Numbers

Complex numbers are specified as {Real}+{Imaginary}j in python. We need to use j to represent $\sqrt{-1}$ and needs to be placed after the number.

In [66]:
z1=3-2j;z2=1-2j;z3=2+4j
print(z1+z2)

(4-4j)

In [67]:
z1.conjugate(),z1.imag,z1.real

((3+2j), -2.0, 3.0)

## Strings

Strings are sequences of character data. String can be generated using either single or double quotes. The string type in Python is called `str`.

String can have from no character (empty string) `''` to as many as character. If a string contains single quotes, an escape sequence backslash `\` can be used (another suggested method is to use double quotes to declare string and use single quote without escape sequence.

In [73]:
print('This is a string')
print("This is a string")
print('This string uses \' quotes') # escape sequence
print("This string uses \" quotes") # escape sequence
print("This string does not use ' quotes") # no escape sequence
print('This string does not use " quotes') # no escape sequence

This is a string
This is a string
This string uses ' quotes
This string uses " quotes
This string does not use ' quotes
This string does not use " quotes

## String formatting

There are three different string formatting in Python (Python 3.6 or grater).

In [80]:
name='John'
e1=82
e2=75.5
text = "%s's exam grades are %d and %.2f and his average: %.2f" % (name, e1,e2,(e1+e2)/2)
print(text)

John's exam grades are 82,75.50 and his average: 78.75

In [88]:
text = "{}'s exam grades are {} and {:.3f} and his average: {}".format(name, e1,e2,(e1+e2)/2)
print(text)

John's exam grades are 82 and 75.500 and his average: 78.75

In [91]:
text = f"{name}'s exam grades are {e1} and {e2:.3f} and his average: {(e1+e2)/2}"
print(text)

John's exam grades are 82 and 75.500 and his average: 78.75

### f-string Formatting in Python

There is a new string formatting method is offered in Python starting version 3.6. The syntax:
* `f'string'` 
* `f"string"` 
* `F"string"`  
* `F"string"`  

#### Arbitrary Expressions
We can put any python expression in f'string because it is evaluated at runtime.

In [92]:
print(f'Here is addition {3+2}')

Here is addition 5

In [96]:
import math
print(f'Sine of pi/3 is: {math.sin(math.pi/3)}')
print(f'Sine of pi/3 is: {math.sin(math.pi/3):.2f}') # Also formatting works

Sine of pi/3 is: 0.8660254037844386
Sine of pi/3 is: 0.87

In [99]:
name = 'John Smith'
print(f'Name lower: {name.lower()}')
print(f'Name lower: {name.upper()}')

Name lower: john smith
Name lower: JOHN SMITH

In [105]:
import statistics as st
name = "John"
ExamI = 100
ExamII = 50
grade = (
    f"Hello {name}. "
    f"Your exam I is {ExamI}. "
    f"Your exam II is {ExamII}. "
    f"Your exam avg is {st.mean([ExamI,ExamII])}. "    
)
print(grade)

Hello John. Your exam I is 100. Your exam II is 50. Your exam avg is 75.

In [108]:
name = "John"
ExamI = 100
ExamII = 50
grade = f"Hello {name}. "\
    f"Your exam I is {ExamI}. "\
    f"Your exam II is {ExamII}. "\
    f"Your exam avg is {(ExamI+ExamII)/2}. "    

print(grade)

Hello John. Your exam I is 100. Your exam II is 50. Your exam avg is 75.0.

In [129]:
import timeit
timeit.timeit("""
name = "John"
ExamI = 100
ExamII = 50
'Hello %s. Your Exams are %d and %d. Your avg is %.4f'% (name, ExamI, ExamII,(ExamI+ExamII)/2)
""", number = 100000)

0.05909301100473385

In [130]:
import timeit
timeit.timeit("""
name = "John"
ExamI = 100
ExamII = 50
'Hello {0}. Your Exams are {1} and {2}. Your avg is {3:.4f}'.format(name, ExamI, ExamII,(ExamI+ExamII)/2)
""", number = 100000)

0.07824044700100785

In [131]:
import timeit
timeit.timeit("""
name = "John"
ExamI = 100
ExamII = 50
f'Hello {name}. Your Exams are {ExamI} and {ExamII}. Your avg is {(ExamI+ExamII)/2:.4f}'
""", number = 100000)

0.06292230899998685

In [124]:
name = "John"
ExamI = 100
ExamII = 50
print(f'Hello {name}. Your Exams are {ExamI} and {ExamII}. Your avg is {(ExamI+ExamII)/2:.4f}')

Hello John. Your Exams are 100 and 50. Your avg is 75.0000

In [145]:
name = "John"
print(f"{name}")
print(f"{name:>10}")
print(f"{name:>20}")
print(f"{name:^20}")

John
      John
                John
        John

In [178]:
age = 82
grade=77.35978452
print(f"{age} and {grade}")
print(f"{age:4} and {grade}")
print(f"{age:4d} and {grade}")
print(f"{age:04d} and {grade}")
print(f"{age:0>4} and {grade}")
age='82'
# print(f"{age:04} and {grade}")
print(f"{age:0>4} and {grade}")

82 and 77.35978452
  82 and 77.35978452
  82 and 77.35978452
0082 and 77.35978452
0082 and 77.35978452
0082 and 77.35978452

In [191]:
age = 82
grade=77.35978452    # f'{value:{width}.{precision}}'
print(f"{age} and {grade}")
print(f"{age} and {grade:.4f}")
print(f"{age} and {grade:10.4f}")
print(f"{age} and {grade:010.4f}")
grade=2000
print(f"{age} and {grade:,.4f}") # works for integer as well

82 and 77.35978452
82 and 77.3598
82 and    77.3598
82 and 00077.3598
82 and 2,000.0000

## List

Lists is one of the most useful data type in Python. Lists store sequences of data (does mot have to be same type). Use square brackets `[ ]` are used to create lists.

The important characteristics of Python lists are as follows:

* Lists are ordered.
* Lists can contain any arbitrary objects.
* List elements can be accessed by index.
* Lists can be nested to arbitrary depth.
* Lists are mutable.
* Lists are dynamic.

In [198]:
a=[]   # empty list
b=[1,2,3,4] # list with integers
c=[1,3.0,'k','Texas']
type(a),id(b),id(b[1]),type(c[1])

(list, 4582417416, 4468430496, float)

###  Lists are ordered
.
A list is ordered collection of objects. 

``` 
a = [1,2,3]
b = [3,2,1]
```
are not same lists.

In [207]:
a = [1,2,3]
b = [3,2,1]
print(a is b)
print(a == b)
print([3] in b)
print(3 in b)

False
False
False
True

### Lists Can Contain Arbitrary Objects

A list can contain any type of objects. The elements of a list can all be the same type as well as varying types.

In [215]:
a=[1,2,3,4] # list with all integers
b=[1,2,3,4.] # list with all integers and floats
c=[1,2,3,4.,'test'] # list with integers, float and string
d=[[1,2,3],'hello',2,(1,2),4.,{'a':1}] # list with sub-list, tuple

print(type(d[0])) 
print(type(d[1])) 
print(type(d[2])) 
print(type(d[3])) 
print(type(d[4])) 
print(type(d[5])) 
print(type(d))

<class 'list'>
<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'float'>
<class 'dict'>
<class 'list'>

###  List elements can be accessed by index

Individual elements in a list can be accessed using an index in square brackets similar way strings. 

```
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
```

![List](pic/0021.png)

Index number starts from 0 in Python. Last element ('corge') in this example above also consider -1 index. This is good way to access the last element.

In [226]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[0]) # first elemet
print(a[3]) # fourth element
print(a[-1]) # last element. Also, we can use 
print(a[len(a)-1])

foo
qux
corge
corge

Slicing also works. If a is a list, the expression a[m:n] returns the portion of a from index m to, but not including, index n:

In [229]:
print(a[1:4])
print(a[0:2])
print(a[-4:-1])
a[-5:-2] == a[1:4]

['bar', 'baz', 'qux']
['foo', 'bar']
['baz', 'qux', 'quux']

True

In [252]:
a=[0,1,2,3,4,5,6,7,8,9]
print(a[1:3])
print(a[-3:-1])
print(a[:])
print(a[:2])
print(a[::2])
print(a[1::2])
print(a[0::2])
print(a[1:6:2])

[1, 2]
[7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1]
[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]
[1, 3, 5]

In [255]:
print(a[::-1]) # The syntax for reversing a list works the same way it does for strings:
print(a[1:5:-1]) # may not work sliced list

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[]

In [259]:
a='Hello'
b=a[:]
print(id(a),id(b))
print(a is b)

4553591528 4553591528
True

In [258]:
a=['Hello','Python']
b=a[:]
print(id(a),id(b))
print(a is b)

4582317128 4535643400
False

In [263]:
a=[0,1,2,3,4,5,6,7,8,9]
print(0 in a)
print(55 in a)
print(0 not in a)
print(55 not in a)

True
False
False
True

In [267]:
# The concatenation (+) and replication (*) operators:

a=[2,3,4]
print(a+a)
print(3*a)
b=['hello']
print(b+b)
print(3*b)

[2, 3, 4, 2, 3, 4]
[2, 3, 4, 2, 3, 4, 2, 3, 4]
['hello', 'hello']
['hello', 'hello', 'hello']

In [274]:
# The len(), min(), and max() functions:
a=[2,3,4]
print(len(a))
print(min(a))
print(max(a))
a=['hello','python','cool','classroom']
print(len(a))
print(min(a))
print(max(a))

3
2
4
4
classroom
python

In [278]:
# You can operate on a list literal as well:
print([2,3,4][2])
print([2,3,4][::-1])

4
[4, 3, 2]

### Lists Can Be Nested

An element in a list can be any sort of object. That includes another list. A list can contain sublists, which in turn can contain sublists themselves, and so on to arbitrary depth.

```python
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
```

![sublist](pic/003.png)

In [281]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
print(x[0])
print(x[1])
print(x[2])
print(x[3])
print(x[4])

a
['bb', ['ccc', 'ddd'], 'ee', 'ff']
g
['hh', 'ii']
j

In [285]:
print(x[1][0])
print(x[1][1])
print(x[1][2])
print(x[1][3])

bb
['ccc', 'ddd']
ee
ff

In [286]:
print(x[1][1][0])
print(x[1][1][1])

ccc
ddd

In [290]:
print('ddd' in x)
print('ddd' in x[1])
print('ddd' in x[1][1])
print('ddd' in x[1][1][1])

False
False
True
True

### Lists Are Mutable

List elements (types) can be changed or assigned a new value. We cannot do this with strings.

In [297]:
a=[1,2,3,4]
a[1]='2'
print(a)
print(type(a[2]))
a[2]=float(a[2])
print(a)
print(type(a[2]))

[1, '2', 3, 4]
<class 'int'>
[1, '2', 3.0, 4]
<class 'float'>

In [298]:
a=[1,2,3,4] # A list item can be deleted with the del command:
del(a[2])
a

[1, 2, 4]

In [308]:
a=[0,1,2,3,4,5,6,7]
a[4:-1]=[0,0,0,0]
print(a)
a=[0,1,2,3,4,5,6,7]
a[4:8]=[0,0,0,0]
print(a)
a=[0,1,2,3,4,5,6,7]
a[4:len(a)]=[0,0,0,0]
print(a)
a=[0,1,2,3,4,5,6,7]
a[4:len(a)]=[]
print(a)

[0, 1, 2, 3, 0, 0, 0, 0, 7]
[0, 1, 2, 3, 0, 0, 0, 0]
[0, 1, 2, 3, 0, 0, 0, 0]
[0, 1, 2, 3]

In [331]:
# Prepending or Appending Items to a List
# Additional items can be added to the start or end of a list using the +
# concatenation operator or the += augmented assignment operator:

a = [1,2,3,4]
a+=[-4,-5]
print(a)
print([0,0]+a+[10])
# print([0,0]+a+10) # A list must be concatenated with another list
# a+=10
# a += '10'

[1, 2, 3, 4, -4, -5]
[0, 0, 1, 2, 3, 4, -4, -5, 10]

###  Methods That Modify a List

**a.append(<obj>)**

> Appends an object to a list.

``` python
>>> a = [1, 2]
>>> a.append('hello')
>>> a
[1,2,'hello']
```
Also append list in another list

``` python
>>> a = [1, 2]
>>> a.append([4,5])
>>> a
[1, 2, [4, 5]]
>>> a.append(4,5) # will create an error
# TypeError: append() takes exactly one argument (2 given)
```

**a.extend(<iterable>)**

> Extends a list with the objects from an iterable.

``` python
>>> a = ['a', 'b']
>>> a.extend([1, 2, 3])
>>> a
['a', 'b', 1, 2, 3]
```
extent behaves like + operator. 

```python
>>> a = ['a', 'b']
>>> a += [1, 2, 3]
>>> a
['a', 'b', 1, 2, 3]
```

***a.insert(index, obj)***
    
>Inserts an object into a list.

```python
>>> a = [0,1,2,4,5]
>>> a.insert(3, 3)
>>> a[3]
3
>>> a
[0, 1, 2, 3, 4, 5]
```
***a.remove(obj)***
>Removes an object from a list.

```python
>>> a = [0,1,2,4,5]
>>> a.remove(2)
a
[0, 1, 4, 5]
# If there are more than one same element
a = [0,1,2,4,5,2]
a.remove(2)
a
[0, 1, 4, 5, 2]
>>> a.remove(2)
a
[0, 1, 4, 5]
```
***a.pop(index=-1)***
>Removes an element from a list.

```python
>>> a = [0,1,2,4,5,2]
>>> a.pop(2)
a
>>> a.pop(-1)
a
[0, 1, 4, 5]
```
```a.pop()``` removes the last item in the list:

### Lists Are Dynamic

When we add new items to a list size grows.